h1 {
  font-family: cursive;
}

h2 {
  font-family: Verdana;
}

#show-contact {
  display: none;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.fullName:hover {
  text-decoration: underline;
}

.hideInfo {
 display:none;
}
